#restorant
    .restPhotos
        .FSPhotoWr(style="padding-bottom: 56.25%;overflow: hidden;")
            each photo in item.photos
                .FSPhotoItem( id="photoitem" + photo.coverphotoid)
                    img(src="/static/image/middle/" + photo loading="lazy" onclick="FSPhotoNext(this)")
                    .upBtn.flex.center.active.rBtn(onclick="FSPhotoNext(this)")
                        include ../svg/arrowRightRed.svg
                    .upBtn.flex.center.active.lBtn(onclick="FSPhotoPrev(this)")
                        include ../svg/arrowRightRed.svg
                    //.FSPhotoWrCopyright.flex.center.left
                        div &#169;&nbsp;
                        div ifcongress.ru
    .FSrestBody
                .fsRestTitle #{item.title}
                .fsRestLid #{item.lid}
                .fsRestAddress
                    if item.map
                        a.restAddress(href=item.map target="_blank" style="" onclick="window.open('"+item.map+"')") #{item.address}
                    else
                        span &nbsp; #{item.address}
                    span
                        a(href="tel:"+ item.phone style="display:block;margin-top:.5em" onclick="window.open('tel:"+item.phone+"')") #{item.phone}
                .fsRestText #{item.descr}
                if item.discount
                    .fsDiscountWr
                        .fsDiscountTitle ПРЕДЛОЖЕНИЕ ДЛЯ УЧАСТНИКов Финансового конгресса Банка России
                        .fsDiscountText !{item.discount}
