.timeslotsElems#timeslots
    each ts in day.timeslots
        .oTs.flex.left
            .oTsDate #{ts["title_"+lang]}
            if(ts.allTracks)
                .oTrack.oAllTracks(class=ts.isImpotant?"impotant":"") #{ts["descr_"+lang]}
            else

                .oTrack(class=ts.isImpotant?"impotant":"")


                    .oSessionScroll


                        .oSessionWr.flex.left

                            if ts.sessions
                                each session in ts.sessions
                                    if session["halltitle_"+lang]
                                        .oSession(sessionid=session.id hallNumber=session["halltitle_"+lang].replace(/hall /i,"").replace(/зал /i,""))
                                            //tmp.pug
                                            if(!ts.isImpotant)
                                                //.oSessionNextBtn
                                                    include ../svg/arrowRightRed.svg
                                                .oSessionPageWr
                                                    if ts.sessions
                                                        .oSessionPage.pagenatorPrev
                                                            include ../svg/arrowRightRed.svg
                                                        each sessionPage in ts.sessions
                                                            if(sessionPage["halltitle_" + lang])
                                                                .oSessionPage.paginator #{sessionPage["halltitle_" + lang].replace(/hall /i, "").replace(/зал /i, "")}
                                                        .oSessionPage.pagenatorNext
                                                            include ../svg/arrowRightRed.svg


                                            .oSessionHallTitle #{session["halltitle_"+lang]}
                                            .oSessionTitle
                                                if ts.isImpotant
                                                    if ru
                                                        span.plenar  Пленарная сессия:&nbsp;
                                                    else
                                                        span.plenar  PLENARY session:&nbsp;
                                                span #{session["title_"+lang]}
                                            if ru
                                                .oSessionDetails(onclick="showSession("+session.id+", '"+lang+"', "+isSpk+")") подробнее
                                            else
                                                .oSessionDetails(onclick="showSession("+session.id+", '"+lang+"', "+isSpk+")") details
                                            if isSpk
                                                .flex.center.left
                                                    .oSessionDetails(onclick="showSession("+session.id+", '"+lang+"', "+isSpk+")") подробнее
                                                    .oSessionDetails(onclick="showSession("+session.id+", '"+lang+"', "+isSpk+")")
                                                        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0.333008 0.996697V17.33L13.1663 9.16336L0.333008 0.996697Z" fill="#BB3E3F"/>
                                                        </svg>


                                            if session.moderators
                                                    .oSessionSpkBox
                                                        if ru
                                                            .oSessionSpkBoxTitle Модератор:
                                                        else
                                                            .oSessionSpkBoxTitle Moderator:

                                                        .oSpkBox(onclick="showSpeaker("+session.moderators[0].id+", '"+lang+"')")
                                                            .oSessionSpkBoxName #{session.moderators[0]["i"+lang]} #{session.moderators[0]["f"+lang]}
                                                                .oSessionSpkBoxPos  #{session.moderators[0]["company"+lang]}

                                            if session.speakers
                                                    .oSessionSpkBox
                                                        if ru
                                                            .oSessionSpkBoxTitle Спикеры:
                                                        else
                                                            .oSessionSpkBoxTitle Speakers:

                                                        each spk in session.speakers
                                                            .oSpkBox(onclick="showSpeaker("+spk.id+", '"+lang+"', "+isSpk+")")
                                                                .oSessionSpkBoxName #{spk["i" + lang]} #{spk["f" + lang]}
                                                                    .oSessionSpkBoxPos  #{spk["company" + lang]}
                                            .oSessionSpkBox.pgmQBox(sessionid=session.id)
                                                input(placeholder="Ваше Имя")
                                                textarea(placeholder="Напишите вопрос здесь")
                                                .pqmQBtn задать вопрос
                                                .pgmQloader
                                                    include ../svg/loader.svg
                                                .pgmQSuccess Вопрос передан организаторам

