extends ../layout
block head
    if ru
        title="Финансовый Конгресс Банка России: Личный кабинет"
    else
        title="Financial Congress of the Bank of Russia: Personal account"
block content

    #loader.prcLoaderWr.flex.center
        .prcLoader
            include ../svg/loader.svg
    #app(class=ru?"":"en")
        .tower
            .persHead.flex.center
                .persHeadRow.flex.center.beetwen
                    .persHeadLogoWr.flex.center(onclick="document.location.href='/'")
                        .persHeadLogo.svg100
                            include ../svg/mainlogo.svg
                        .persHeadText.flex.center
                            if ru
                                .persHeadH1 Финансовый<br>конгресс<br>Банка&nbsp;России
                            else
                                .persHeadH1 Financial<br>Congress<br>of the Bank<br>of Russia
                    .personalLangMenuWr
                        include ../elems/langSelector
                    .persMenu.flex.center
                        a.persMenuAlert(v-if="newInfo>0" v-on:click="personalMobileMenuClose();section='info'")
                            include ../svg/personalNewMessageIco.svg
                        .persMenuFio {{user.i}} {{user.f}} #{ru}
                        a.persMenuExit(href="/personal/exit/"+lang)
                            include ../svg/personalExitIco.svg
                        a.persMenuMomileMenu.mobile(v-on:click="personalMobileMenuShow()")
                            include ../svg/mobileMenuBtn.svg

            .persBody.flex
                .persBodyL
                    .persNav
                        if ru
                            .persNavItem.mobile(onclick="document.location.href='/'") Главная
                        else
                            .persNavItem.mobile(onclick="document.location.href='/'") mainPage
                        if ru
                            .persNavItem(v-on:click="personalMobileMenuClose();section='pay'" v-bind:class="{active:section=='pay'}" v-if="user.isPay") Оплата
                            .persNavItem(v-on:click="personalMobileMenuClose();section='info'" v-bind:class="{active:section=='info'}") Информация
                                .persNavItemBage(v-if="newInfo>0")
                                    .persNavItemBageText {{newInfo}}
                            .persNavItem(v-on:click="personalMobileMenuClose();section='profile'" v-bind:class="{active:section=='profile'}") Профиль
                            .persNavItem(v-on:click="personalMobileMenuClose();section='doc'" v-bind:class="{active:section=='doc'}") Документы
                            .persNavItem(v-on:click="personalMobileMenuClose();section='hotel'" v-bind:class="{active:section=='hotel'}") Отели
                            //.persNavItem(v-on:click="section='transfer'" v-bind:class="{active:section=='transfer'}") Трансферы
                            .persNavItem(v-on:click="personalMobileMenuClose();section='place'" v-bind:class="{active:section=='place'}") Место проведения
                            .persNavItem(v-on:click="personalMobileMenuClose();section='feedback'" v-bind:class="{active:section=='feedback'}") Обратная связь
                            .persNavItem.mobile(href="/personal/exit/"+lang) выход
                        else

                            .persNavItem(v-on:click="personalMobileMenuClose();section='info'" v-bind:class="{active:section=='info'}") INFORMATION
                                .persNavItemBage(v-if="newInfo>0")
                                    .persNavItemBageText {{newInfo}}
                            .persNavItem(v-on:click="personalMobileMenuClose();section='profile'" v-bind:class="{active:section=='profile'}") PROFILE
                            .persNavItem(v-on:click="personalMobileMenuClose();section='doc'" v-bind:class="{active:section=='doc'}") DOCUMENTS
                            .persNavItem(v-on:click="personalMobileMenuClose();section='hotel'" v-bind:class="{active:section=='hotel'}") ACCOMODATION
                            //.persNavItem(v-on:click="section='transfer'" v-bind:class="{active:section=='transfer'}") Трансферы
                            .persNavItem(v-on:click="personalMobileMenuClose();section='place'" v-bind:class="{active:section=='place'}") VENUE
                            .persNavItem(v-on:click="personalMobileMenuClose();section='feedback'" v-bind:class="{active:section=='feedback'}") FEEDBACK
                            .persN

                .persBodyR
                    .persSection(v-if="section=='pay'")
                        include sectPay
                    .persSection(v-if="section=='info'")
                        include sectInfo
                    .persSection(v-if="section=='profile'")
                        include sectProfile
                    .persSection(v-if="section=='doc'")
                        include sectDoc
                    .persSection(v-if="section=='hotel'")
                        include sectHotel
                    .persSection(v-if="section=='transfer'")
                        include sectTransfer
                    .persSection(v-if="section=='place'")
                        include sectPlace
                    .persSection(v-if="section=='feedback'")
                        include sectFeedback

            //.persFooter.flex.center
                .persHeadRow.flex.center.beetwen
                    .persHeadLogoWr.flex.center(onclick="document.location.href='/'")
                        .persHeadLogo.svg100
                            include ../svg/mainlogo.svg
                        .persHeadText.flex.center
                            .persHeadH1 Финансовый<br>конгресс<br>Банка&nbsp;России
    link(rel='stylesheet', href='/static/lib/cropper.min.css')
    script let apiUrl=!{JSON.stringify(apiUrl)}
    script let frontUrl=!{JSON.stringify(apiUrl)}
    script(src="/static/lib/vue.min.js")
    script(src="/static/javascripts/utils.js")
    script(src="/static/lib/cropper.min.js")
    script(src="/static/javascripts/personalScript.js")
