.participaintRow
    //.participaintRowBody
    if ru
        .participaintRowBodySubTitle
            b БРОНИРОВАНИЕ ОТЕЛЕЙ:
        .participaintRowBody
            ul
                li Выберите отель и категорию номера;
                li Нажмите «Забронировать»;
                li Ваша заявка поступит в службу бронирования выбранного отеля;
                li Отель свяжется с Вами для уточнения информации и подтверждения бронирования;
                li Дальнейшая коммуникация и оплата проживания происходит напрямую между Вами и отелем.
            p
                .participaintRowContent Количество номеров для бронирования по специальным тарифам ограничено.
    else
        .participaintRowBodySubTitle
            b ACCOMODATION BOOKING:
        .participaintRowBody
            ul
                li Please select a hotel and a room type,
                li Press “Book” button,
                li Your request will go to the booking service of the hotel you have selected,
                li The hotel representative will contact you to check the details and confirm your booking,
                li You will further communicate with the hotel representative directly, and make payment for the room to the hotel.
            p
                .participaintRowContent Please note that the number of the rooms available for booking at special rates is limited.


each hotel in hotels

    .participaintRow
        .participaintRowHead
            .hotelHead.flex.beetwen
                .hotelName #{hotel['name' + lang]}
                .hotelStarsWr.flex.cener
                    .hotelStars
                    - var n = 0;
                    while n < hotel.stars
                        - n++;
                            include ../svg/hotelStar.svg
                    .hotelLink
                        if ru
                            a.inline(href=hotel.link target="_blank") На сайт отеля
                        else
                            a.inline(href=hotel.link target="_blank") Holel site
        .hotelDescrWr.flex.center.beetwen
            .hotelImage
                img(src="/static/image/middle/" + hotel.photoid  loading="lazy")
            .hotelDescrBox
                .hotelDescr #{hotel["descr"+lang]}
                .hotelAddress #{hotel["address"+lang]}

        .hotelRooms
            each room in hotel.rooms
                if room.isEnabled
                    .hotelRoom
                        .flex.center.beetwen
                            .roomNameWr
                                .roomName #{room["title"+lang]}
                                .roomPrice !{String(room.price).replace(/000$/," 000")} &#8381;
                            .roomBookWr(v-if="user.roomid!="+room.id)
                                if ru
                                    .roomBookBtn(v-on:click="bookRoom("+room.id+", '"+hotel['name' + lang]+"')") Забронировать
                                else
                                    .roomBookBtn(v-on:click="bookRoom("+room.id+", '"+hotel['name' + lang]+"')") Book Hotel
                            .roomBookWr(v-else)
                                .roomBookConfirmWr.flex.center
                                    if ru
                                        .roomBookConfirm Ваша заявка отправлена в отель,<br>менеджер с вами свяжется.
                                        .roomBookBtn.roomBookConfirmBtn Ваш выбор
                                    else
                                        .roomBookConfirm Your request will go to the booking service of the hotel you have selected.
                                        .roomBookBtn.roomBookConfirmBtn Your choice
                        .roomDescr #{room["descr"+lang]}




