.participaintRow
    .oTrack.impotant(style="width: 100%;")
        .oSessionScroll
            .oSessionWr.flex.left
                .oSession
                    .oSessionHallTitle Гид по ресторанам Петербурга
                    p Вы – эксперты в финансах и экономике. Мы – эксперты в гастрономии. Мы понимаем, что деловые и интеллектуальные задачи часто требуют более широкого контекста и неформальной обстановки, поэтому подготовили для вас гид лучших мест Петербурга, где вы можете продолжить диалог за пределами официальной программы: утром, вечером и даже ночью.
                    p Команда Московских гастрономических Фестивалей (МГФ) / <a href="https://gastronomic.ru">gastronomic.ru</a>
each day in bank
    .participaintRow &nbsp;
    .participaintRow
        .menuItem.flex.center.left
            .menuItemBox
            .menuItemText #{day.time} #{day.title}
    .participaintRow
        .restWr
            each item in day.items
                .restItem(onclick="showRestorant("+item.id+")")
                    .restItemPhoto
                        img(src="/static/image/middle/"+item.coverphotoid loading="lazy")
                    .restBody
                        .restTitle #{item.title}
                        .restAddress #{item.address}
                        .restAddress #{item.phone}

