.participaintRow
    //.participaintRowBody
    .participaintRowBodySubTitle
        b БРОНИРОВАНИЕ ОТЕЛЕЙ:
    .participaintRowBody
        ul
            li Выберите отель и категорию номера;
            li Нажмите «Забронировать»;
            li Ваша заявка поступит в службу бронирования выбранного отеля;
            li Отель свяжется с Вами для уточнения информации и подтверждения бронирования;
            li Дальнейшая коммуникация и оплата проживания происходит напрямую между Вами и отелем.
        p
            .participaintRowContent Количество номеров для бронирования по специальным тарифам ограничено.

each hotel in hotels

    .participaintRow
        .participaintRowHead
            .hotelHead.flex.beetwen
                .hotelName #{hotel['name' + lang]}
                .hotelStarsWr.flex.cener
                    .hotelStars
                    - var n = 0;
                    while n < hotel.stars
                        - n++;
                            include ../svg/hotelStar.svg
                    .hotelLink
                        a.inline(href=hotel.link target="_blank") На сайт отеля
        .hotelDescrWr.flex.center.beetwen
            .hotelImage
                img(src="/static/image/middle/" + hotel.photoid  loading="lazy")
            .hotelDescrBox
                .hotelDescr #{hotel["descr"+lang]}
                .hotelAddress #{hotel["address"+lang]}

        .hotelRooms
            each room in hotel.rooms
                if room.isEnabled
                    .hotelRoom
                        .flex.center.beetwen
                            .roomNameWr
                                .roomName #{room["title"+lang]}
                                .roomPrice !{String(room.price).replace(/000$/," 000")} &#8381;
                            .roomBookWr(v-if="user.roomid!="+room.id)
                                .roomBookBtn(v-on:click="bookRoom("+room.id+", '"+hotel['name' + lang]+"')") Забронировать
                            .roomBookWr(v-else)
                                .roomBookConfirmWr.flex.center
                                    .roomBookConfirm Ваша заявка отправлена в отель,<br>менеджер с вами свяжется.
                                    .roomBookBtn.roomBookConfirmBtn Ваш выбор
                        .roomDescr #{room["descr"+lang]}




