.participaintRow
    //.participaintRowBody
    .participaintRowBodySubTitle
        b Бронирование отелей:
    .participaintRowBody
        ul
            li Выберете отель, и категорию номера;
            li По кнопке «подробнее» карточка номера.
            li Нажмите «Забронировать» на подхлдящем номере;
            li В систему бронирования отеля поступит заявка;
            li Служба бронирования отеля свяжется с вами;
            li Дальнейшие коммуникация и оплата происходят между вами и отелем.

each hotel in hotels

    .participaintRow
        .participaintRowHead
            .hotelHead.flex.beetwen
                .hotelName #{hotel['name' + lang]}
                .hotelStarsWr.flex.cener
                    .hotelStars
                    - var n = 0;
                    while n < hotel.stars
                        - n++;
                            include ../svg/hotelStar.svg
                    .hotelLink
                        a.inline(href=hotel.link target="_blank") На сайт отеля
        .hotelDescrWr.flex.center.beetwen
            .hotelDescrBox
                .hotelDescr #{hotel["descr"+lang]}
                .hotelAddress #{hotel["address"+lang]}
            .hotelImage
                img(src="/static/image/middle/" + hotel.photoid  loading="lazy")
        .hotelRooms
            each room in hotel.rooms
                if room.isEnabled
                    .hotelRoom
                        .flex.center.beetwen
                            .roomNameWr
                                .roomName #{room["title"+lang]}
                                .roomPrice !{String(room.price).replace(/000$/," 000")} &#8381;
                            .roomBookWr(v-if="user.roomid!="+room.id)
                                .roomBookBtn Забронировать
                            .roomBookWr(v-else)
                                .roomBookConfirm Заявка на бронирование в отель отправлена
                        .roomDescr #{room["descr"+lang]}




