extends layout

block head
    title="Новости"
block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .oNewsDecor
                include svg/newsDecor.svg
            .newsDecor2
                include svg/newsDecor2.svg
            .sectionTitle Новости

            .spkWr
                each spk in speakers
                    .oSpkItem(id="news"+spk.id)
                        img.oSpkItemImage(src=spk.photoid? ("https://ifcongress.ru/static/image/small/"+spk.photoid): "/static/images/nouser.png")
                        .spkNameWr
                            .spkName #{spk["i"+lang]}
                            .spkName #{spk["f"+lang]}
                each spk in speakers
                    .oSpkItem(id="news" + spk.id)
                        img.oSpkItemImage(src=spk.photoid ? ("https://ifcongress.ru/static/image/small/" + spk.photoid) : "/static/images/nouser.png")
                        .spkNameWr
                            .spkName .spkNameWr
                            .spkName #{spk["f"+lang]}
                        .spkCompamy #{spk["company"+lang]}



    include elems/footer
    include elems/mobileMenu
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")

