extends layout

block head
    if ru
        title="Финансовый Конгресс Банка России: Фото"
    else
        title="FINANCIAL CONGRESS OF THE BANK OF RUSSIA: Photos"
    <meta name="robots" content="noindex">
block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .oNewsDecor
                include svg/photoDecor.svg
            .newsDecor2
                include svg/photoDecor2.svg
            if ru
                .sectionTitle Фото
            else
                .sectionTitle  Photo

            .pgmDownloadBtnWr




            .photosWr
                each day in days
                    .photoDayItem(id="day" + day.id)
                        .photoFolders
                            each folder in day.folders
                                .photoFolder
                                    .photoFolderBox
                                        .photoFolderImage
                                            img(src="/static/image/middle/" + folder.coverphotoid loading="lazy")
                                        .photoFolderCount.flex.center
                                            div !{folder.photos.length}
                                    .photoDescrBox
                                        .photoDescrBoxDate #{day["title_" + lang]}
                                        .photoDescrBoxTitle #{folder["title" + lang]}






    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


