extends layout

block head
    title="Программа"
block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .oNewsDecor
                include svg/newsDecor.svg
            .newsDecor2
                include svg/newsDecor2.svg
            .sectionTitle Программа

            .pgmWr
                each day in pgm
                    .oPgmItem(id="day"+day.id)
                        .pgmHeadDate #{day["title_"+lang]}
                        .oTimeslots
                            if day.timeslots
                                each ts in day.timeslots
                                    .oTs.flex.left
                                        .oTsDate #{ts["title_"+lang]}
                                        if(ts.allTracks)
                                            .oTrack.oAllTracks #{ts["descr_"+lang]}
                                        else
                                            .oTrack
                                                if !ts.isImpotant
                                                    .oSessionWr.flex.left
                                                        if ts.sessions
                                                            each session in ts.sessions
                                                                .oSession
                                                                    .oSessionHallTitle #{session["halltitle_"+lang]}
                                                                    .oSessionTitle #{session["title_"+lang]}
                                                                    .oSessionDetails подробнее
                                                                    if session.moderators
                                                                        .oSessionSpkBox
                                                                            .oSessionSpkBoxTitle Модератор:
                                                                            .oSessionSpkBoxName #{session.moderators[0]["i"+lang]} #{session.moderators[0]["f"+lang]}
                                                                                .oSessionSpkBoxPos  #{session.moderators[0]["company"+lang]}
                                                                    if session.speakers
                                                                        .oSessionSpkBox
                                                                            .oSessionSpkBoxTitle Спикеры:
                                                                            each spk in session.speakers
                                                                                .oSessionSpkBoxName #{spk["i" + lang]} #{spk["f" + lang]}
                                                                                    .oSessionSpkBoxPos  #{spk["company" + lang]}









    include elems/footer
    include elems/mobileMenu

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


