extends layout

block head
    title="Спикеры"
block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .oNewsDecor
                include svg/newsDecor.svg
            .newsDecor2
                include svg/newsDecor2.svg
            .sectionTitle СПИКЕРЫ

            .spkWr
                each spk in speakers
                    .oSpkItem(id="news"+spk.id onclick="showSpeaker("+spk.id+")")
                        img.oSpkItemImage(src=spk.photoid? ("https://ifcongress.ru/static/image/small/"+spk.photoid): "/static/images/nouser.png" width="150" height="150" loading="lazy")
                        .spkNameWr
                            .spkName #{spk["i"+lang]}
                            .spkName #{spk["f"+lang]}
                        .spkCompamy #{spk["company"+lang]}
                each spk in speakers
                    .oSpkItem(id="news" + spk.id onclick="showSpeaker("+spk.id+", '"+lang+"')")
                        img.oSpkItemImage(src=spk.photoid ? ("https://ifcongress.ru/static/image/small/" + spk.photoid) : "/static/images/nouser.png" height="150" loading="lazy")
                        .spkNameWr
                            .spkName #{spk["i"+lang]}
                            .spkName #{spk["f"+lang]}
                        .spkCompamy #{spk["company"+lang]}



    include elems/footer
    include elems/mobileMenu
    script let lang=!{JSON.stringify(lang)}
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")


