extends layout

block head
    title="Новости"
block content
    include elems/internalHead
    .tower#newsPage
        .subTower
            .oNewsDecor
                include svg/newsDecor.svg
            .newsDecor2
                include svg/newsDecor2.svg
            if ru
                .sectionTitle Новости
            else
                .sectionTitle News

            .newsWr
                each n in news
                    .oNewsItem(id="news"+n.id)
                        .newsHeadTitleBox
                            .newsHeadDate #{n.date}
                            .newsHeadTitle #{n.title}
                        .newsBodyRow.flex.left
                            if n.photoid
                                .newsHeadPhoto
                                    img(src="https://ifcongress.ru/static/image/middle/"+n.photoid loading="lazy")

                            .newsBody(class=n.photoid? "withPhoto":"")
                                .newsBodyText !{n.text}



    include elems/footer
    include elems/mobileMenu
    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")

