.pPgmPopUp
    div !{JSON.stringify(session)}
    .pgmHeadDate #{session["day"+lang]} #{session["ts"+lang]}
    .pPgmPopUpWr
        .pPgmPopUpHall.up #{session["halltitle_"+lang]}
        .pPgmPopTitle.up #{session["title_"+lang]}
