.pPgmPopUp
    //div !{JSON.stringify(session)}
    .pgmHeadDate #{session["day"+lang]} #{session["ts"+lang]}
    .pPgmPopUpWr
        .pPgmPopUpHall.up #{session["halltitle_"+lang]}
        .pPgmPopTitle.up #{session["title_"+lang]}
        .pPgmPopScroll
            .pPgmPopDescription #{session["discription_"+lang]}
                if isSpk
                    .pPgmPopSpeakers.flex.center
                        if session.moderators
                            each spk in session.moderators
                                include elems/sessionPopupSpeaker
                        if session.speakers
                            each spk in session.speakers
                                include elems/sessionPopupSpeaker

