.pSpkTower
    .pSpkHead.flex.center
        .pSpkPhotoWR
            .pSpkBg
                include svg/spkPhotoBg.svg
            .pSpkPhoto
                img(src=(spk.photoid ? ("/static/image/middle/" + spk.photoid) : "/static/images/nouser.png") width="150" height="150" loading="lazy")
        .pSpkNameWR
            .pSpkNameBox
                .pSpkName #{spk["i"+lang]}
                .pSpkName #{spk["f"+lang]}
                .pSpkCompany  #{spk["company"+lang]}
            if spk.sessions && spk.sessions.left>0
                .pSpkSessionsBox !{JSON.stringify(spk.sessions)}
                    .menuItem.flex.center.left
                        .menuItemBox
                        .menuItemText Участвует в сессиях:
                    .pSpkSessionsWr
                        each session in spk.sessions
                            .pSpkSession #{session["title_"+lang]}
    .pSpkBody
        if spk["bio"+lang]
            .menuItem.flex.center.left
                .menuItemBox
                .menuItemText Биография
            .pSpkBio #{spk["bio"+lang]}


