extends layout

block head
    title="Программа"
block content
    .tgPgm
        include elems/timeslots

    script(src="/static/javascripts/utils.js")
    script(src="/static/javascripts/mainScript.js")
    script.
        let usermame;
        try{usermame=localStorage.getItem("pgmMesageUserName")}catch (e){}
        document.querySelectorAll(".pqmQBtn").forEach( btn=>{
            let box = btn.parentNode;
            let inp = box.querySelector("textarea")
            let name = box.querySelector("input")
            let loader = box.querySelector(".pgmQloader")
            if(usermame)
                name.value=usermame

            btn.onclick=async()=> {


                if (inp.value.length < 5)
                    return inp.focus();
                if(name.value.length < 3)
                    return name.focus();
                try{localStorage.getItem("pgmMesageUserName", name.value)}catch (e){}

                let id=box.parentNode.getAttribute("sessionid")
                btn.style.display = "none";
                loader.style.display = "block";
                //let res=await postJson("/api/sendQFromTGbot", {id, name:name.value, text:inp.value})
                let tmp=loader.innerHTML;
                loader.innerHTML="Вопрос передан организаторам"
                inp.value=""

            }
        })

